<input #csvInput [hidden]="true"
       type="file" onclick="this.value=null"
       [multiple]="true"
       [style.width]="width"
       (change)="import($event)"
       [accept]="extensions"/>

<mat-icon *ngIf="icon.length>0" (click)="csvInput.click()"
          style="cursor: pointer;">
          {{icon}}
</mat-icon>

<button mat-raised-button
        mat-button style="display: inline-block;"
        [style.width]="width"
        *ngIf="icon.length==0"
        [title]="title"
        (click)="csvInput.click()">
  <ng-content></ng-content>
</button>

<button mat-raised-button
        *ngIf="show_cancel"
        mat-button class="app-button"
        (click)="cancel()">
  Annuler
</button>
