<div class="mainform">
  <div class="mat-display-3 color-primary">
    Générateur de visuels pour collection NFT
  </div>
  <app-hourglass [message]="message"></app-hourglass>

<!--  Travail sur les textes -->
  <mat-expansion-panel [expanded]="show_addtext!=null">
    <mat-expansion-panel-header>Ajout de texte</mat-expansion-panel-header>
    <table style="width: 100%;vertical-align: middle;">
      <tr>
        <td>
          <button style="width: fit-content" mat-raised-button mat-button
                  title="Ajouter une série d'identifiant"
                  (click)="add_serial(show_addtext)">
            Série numérique
          </button>
          <mat-checkbox [(ngModel)]="usePalette" *ngIf="sel_colors.length>0">Utiliser la palette sélectionnée</mat-checkbox>

          <br>

          <mat-form-field appearance="fill" style="max-width: 600px;width: 100%;">
            <mat-label>Texte a ajouter</mat-label>
            <input matInput type="text" [(ngModel)]="text_to_add" title="Insérer __idx__ pour générer des séries automatiquement">
            <mat-icon matSuffix (click)="text_to_add=''">cancel</mat-icon>
          </mat-form-field><br>

        </td>
        <td>
          <div style="width:200px;height: 200px;border: 1px solid black;cursor: crosshair;position: relative;" [style.background-color]="backcolor"
               (click)="onclick_on_text($event,show_addtext)">
            <div [ngStyle]="{
              'font-size':(200*fontsize/100)+'px',
              position: 'absolute',display:'block',
              'z-index': 10,'pointer-events':'none',
              top:position_text.y*2+'px',left:position_text.x*2+'px',
              'width':'fit-content',color:color}">
              {{text_to_add.replace('__idx__','0').split("|")[0]}}
            </div>
          </div>
        </td>
        <td>
          Couleur du texte : <input *ngIf="!usePalette" [(colorPicker)]="color" [style.background]="color"><br>
          X:<mat-slider [max]="100" [thumbLabel]="true" [min]="0" [(ngModel)]="position_text.x"></mat-slider>
          <input type="number" [(ngModel)]="position_text.x" style="width:50px">
          <br>
          Y:<mat-slider [max]="100" [min]="0" [thumbLabel]="true" [(ngModel)]="position_text.y"></mat-slider>
          <input type="number" [(ngModel)]="position_text.y"  style="width:50px;">

          <br>

          <br>
          Fonte:
          <mat-select [(ngModel)]="font">
            <mat-option *ngFor="let f of fontfiles" [value]="f">{{f.name}}</mat-option>
          </mat-select>
          <br>
          FontSize: <mat-slider [max]="40" [min]="1" [step]="0.1" [thumbLabel]="true" [(ngModel)]="fontsize"></mat-slider>
          <input type="number" [(ngModel)]="fontsize"  style="width:50px;">
          <br>


        </td>
        <td>

        </td>
        <td>

        </td>
      </tr>
    </table>
  </mat-expansion-panel>



  <mat-expansion-panel [expanded]="show_collection">
    <mat-expansion-panel-header>Visuels / Images</mat-expansion-panel-header>
    <button type="button" mat-raised-button mat-button
            (click)="generate_collection('preview')">
      Apercu
    </button>
    <button type="button" mat-raised-button mat-button
            (click)="max_items=1000">
      Voir toutes les images
    </button>
    <button type="button" mat-raised-button mat-button
            title="Afficher la transparence en noir (pour faire resortir les éléments blancs)"
            (click)="backcolor=(backcolor=='white' ? 'black' : 'white')">
      Inverser le fond
    </button>
    <button style="width: fit-content" mat-raised-button mat-button
            title="Trouver des images"
            (click)="find_image()">
      Trouver des images
    </button>
    <br>

    <table style="padding: 10px;width:100%;">
      <tr>
        <th></th>
        <th>Nom</th>
        <th>Commandes</th>
        <th>Contribue à l'unicité</th>
        <th>Usage unique par NFT</th>
        <th>Cliquer sur une image + CTRL sur le clavier pour la supprimer ou SHIFT pour la déplacer</th>
      </tr>
      <tr *ngFor="let layer of layers" style="text-align: center;vertical-align: middle">
        <td style="width: 15px;">
          <mat-icon *ngIf="layer.position>0" (click)="update_position(layer,-1)">keyboard_arrow_up</mat-icon><br>
          <mat-icon *ngIf="layer.position<layers.length-1"  (click)="update_position(layer,+1)">keyboard_arrow_down</mat-icon>
        </td>
        <td style="width:fit-content;min-width: 100px;" (click)="load_text_config(layer)" title="Cliquer pour rappeler les paramètres de fabrication">
          {{layer.name}}<br>
          <span style="font-size: small;">{{layer.elements?.length}} éléments</span>
        </td>

        <td style="width:200px">
          <app-upload-file (uploaded)="on_upload($event,layer)"
                           title="Chargée une image depuis votre ordinateur"
                           extensions=".png,.psd,.webp,.gif,.jpg,.svg,.yaml">
            <mat-icon>image</mat-icon>
          </app-upload-file>

          <button style="width: fit-content" mat-icon-button mat-button
                  title="Inclure une image sous forme d'une adresse internet"
                  (click)="add_link(layer)">
            <mat-icon>link</mat-icon>
          </button>

          <button style="width: fit-content" mat-icon-button mat-button
                  title="Inclure du texte"
                  (click)="generate(layer)">
            <mat-icon>notes</mat-icon>
          </button>

          <button style="width: fit-content" mat-icon-button mat-button
                  title="Inclure du texte"
                  (click)="apply_filter(layer)">
            <mat-icon>filter</mat-icon>
          </button>

          <br>

          <button style="width: fit-content" mat-icon-button mat-button
                  title="Coller une image contenu dans le presse-papier"
                  (click)="paste_picture(layer)">
            <mat-icon>content_paste</mat-icon>
          </button>


          <button style="width: fit-content" mat-icon-button mat-button
                  title="Générer des copies par variation de couleurs"
                  (click)="generate_with_color(layer)">
            <mat-icon>palette</mat-icon>
          </button>

          <button style="width: fit-content" mat-icon-button mat-button
                  title="Effacer la ligne"
                  (click)="delete_layer(layer)">
            <mat-icon>cancel</mat-icon>
          </button>


          <button style="width: fit-content" mat-icon-button mat-button
                  title="Effacer tous les éléments"
                  (click)="clear_layer(layer)">
            <mat-icon>delete</mat-icon>
          </button>

        </td>
        <td style="width:100px">
          <mat-checkbox style="margin-top: 10px;" [(ngModel)]="layer.indexed"></mat-checkbox>
        </td>
        <td style="width:100px">
          <mat-checkbox style="margin-top: 10px;" [(ngModel)]="layer.unique"></mat-checkbox>
        </td>
        <td style="text-align: left;">

          <div *ngFor="let elt of layer.elements?.slice(0,max_items)"
               title="Cliquer pour voir à l'échelle 1:1"
               style="display: inline-block;margin: 5px;">
            <img *ngIf="elt?.image?.length>0"
                 [src]="elt.image"
                 alt="En cours de chargement"
                 style="width: 100px;height: 100px;cursor: pointer;" [style.background-color]="backcolor" class="mat-elevation-z4"
                 (mousedown)="modify_element($event,layer,elt)" (click)="open_file(elt)">
          </div>
          <span *ngIf="layer.elements && max_items<1000 && layer.elements.length>max_items" style="font-size: xx-large;cursor: pointer;" (click)="max_items=1000">...</span>
        </td>
      </tr>

    </table>
    <br>
    <button type="button" mat-raised-button mat-button
            (click)="add_layer()">
      <mat-icon>add_circle</mat-icon> une couche
    </button>

    <button type="button" mat-raised-button mat-button
            (click)="build_sample(
            [
              {name:'label',files:'',text:'NFT #1|NFT #2|NFT #3|NFT #4|NFT #5|NFT #6|NFT #7|NFT #8|NFT #9',position:3},
              {name:'triangles',files:'$appli$/assets/triangle1.png,$appli$/assets/triangle2.png,$appli$/assets/triangle3.png',text:'',position:2},
              {name:'cercles',files:'$appli$/assets/circle1.png,$appli$/assets/circle2.png,$appli$/assets/circle3.png,$appli$/assets/circle4.png,$appli$/assets/circle5.png',text:'',position:1},
              {name:'carrés',files:'$appli$/assets/square1.png,$appli$/assets/square2.png,$appli$/assets/square3.png,$appli$/assets/square4.png,$appli$/assets/square5.png',text:'',position:0},
              ],
              {
                    title:'UnExemple__idx__',
                    description:'Ceci est un exemple de data pour NFT',
                    symbol:'Sample__idx__',
                    properties:'formes=carré,cercle,triangle\nlabel=NFT',
                    collection:'SampleCollection',
                    family:'SampleFamily'}
               )">
      Un exemple
    </button>

    <button type="button" mat-raised-button mat-button (click)="reset()">
      Nouveau
    </button>

  </mat-expansion-panel>


  <!--  preview-->

  <mat-expansion-panel [expanded]="previews && previews.length>0">
    <mat-expansion-panel-header>Génération</mat-expansion-panel-header>

    <div class="mat-body-2">Caractéristiques des images produites</div>
    <mat-form-field appearance="fill" style="max-width: 100px">
      <mat-label>Longueur</mat-label>
      <input matInput type="number" [(ngModel)]="col_width" >
    </mat-form-field>
    &nbsp;
    <mat-form-field appearance="fill" style="max-width: 100px">
      <mat-label>Hauteur</mat-label>
      <input matInput type="number" [(ngModel)]="col_height" >
    </mat-form-field>
    &nbsp;
    <mat-form-field appearance="fill" style="max-width: 100px">
      <mat-label>Nombre d'unités</mat-label>
      <input matInput type="number" [(ngModel)]="limit" >
    </mat-form-field>

    <mat-form-field appearance="fill" style="max-width: 100px">
      <mat-label>Seed</mat-label>
      <input matInput type="number" [(ngModel)]="seed" >
    </mat-form-field>
    <br>

    <button type="button" mat-raised-button mat-button
            (click)="generate_collection('preview')">
      Aperçu
    </button>

    <button type="button" mat-raised-button mat-button
            (click)="generate_collection('zip')">
      Télécharger
    </button>

    <a [href]="url_collection" *ngIf="url_collection.length>0" download="collection.zip">
      <mat-icon>download</mat-icon>
    </a>

    <mat-form-field appearance="fill" style="max-width: 200px">
      <mat-label>Nom des fichiers téléchargés</mat-label>
      <input matInput type="text" [(ngModel)]="filename_format" >
    </mat-form-field>

    <mat-form-field style="fontsize:small">
      <mat-label>Format des images</mat-label>
      <mat-select [(value)]="sel_ext">
        <mat-option value="webp">webp</mat-option>
        <mat-option value="gif">gif</mat-option>
      </mat-select>
    </mat-form-field>


    <div style="display: inline-block;width:200px">
      Qualité des NFT:<br>
      <mat-slider [max]="100" [thumbLabel]="true" [min]="0" [(ngModel)]="quality"></mat-slider>
    </div>







    <br>

    <div style="width: 100%;" class="mat-elevation-z4">
      <div style="font-size:x-small;width: 100px;margin:5px;display: inline-block;text-align: center;line-height: 85%;cursor: pointer;" *ngFor="let img of previews">
        <img [src]="img.src" style="width: 100px;margin-left:5px;" (click)="open_file({image:img.src})">
        <small>{{img.filename}}</small>
      </div>
    </div>

  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>Datas</mat-expansion-panel-header>
    <small>Les données du NFT peuvent être inclusent dans les images pour utilisation au moment du minage</small>
    <table>
      <tr>
        <th>Titre & Description</th>
        <th>Symbole</th>
        <th>Collections</th>
        <th>Propriétés / Attributs</th>
        <th>Fichiers</th>
      </tr>
      <tr>
        <td>
          <mat-form-field appearance="fill" style="max-width: 200px">
            <mat-label>Titre / Nom</mat-label>
            <input matInput type="text" [(ngModel)]="data.title">
          </mat-form-field>
          /
          <mat-form-field appearance="fill" style="max-width: 200px">
            <mat-label>Description</mat-label>
            <input matInput type="text" [(ngModel)]="data.description">
          </mat-form-field>

        </td>
        <td>
          <mat-form-field appearance="fill" style="max-width: 200px">
            <mat-label>Symbol</mat-label>
            <input matInput type="text" [(ngModel)]="data.symbol">
          </mat-form-field>
        </td>

        <td>
          <mat-form-field appearance="fill" style="max-width: 100px">
            <mat-label>Collections</mat-label>
            <input matInput type="text" [(ngModel)]="data.collection">
          </mat-form-field>
          /
          <mat-form-field appearance="fill" style="max-width: 100px">
            <mat-label>Famille</mat-label>
            <input matInput type="text" [(ngModel)]="data.family">
          </mat-form-field>
        </td>
        <td>
          <textarea class="mat-elevation-z2"
                    title="Le format est 'nom_attribut=valeur' avec un attribut par ligne"
                    matInput [(ngModel)]="data.properties" rows="5" cols="20"></textarea>
        </td>
        <td>
          <textarea matInput class="mat-elevation-z2" [(ngModel)]="data.files" rows="5" cols="20"></textarea>
        </td>
      </tr>
    </table>


  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>Configurations</mat-expansion-panel-header>
    <table>
      <tr>
        <th>Charger une configuration</th>
        <th>Enregistrer une configuration</th>
      </tr>
      <tr>
        <td>
          <app-upload-file (uploaded)="on_upload_config($event)"
                           title="Chargée une configuration depuis votre ordinateur"
                           extensions=".yaml">
            Depuis votre ordinateur
          </app-upload-file>
          <br>

          <mat-form-field style="fontsize:small">
            <mat-label>Depuis le serveur</mat-label>
            <mat-select [(value)]="sel_config">
              <mat-option *ngFor="let config of configs" [value]="config">
                {{config}}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <button type="button" mat-raised-button mat-button (click)="load_config(sel_config)">
            Charger
          </button>

          <button type="button" mat-raised-button mat-button (click)="del_config(sel_config)">
           Supprimer
          </button>


        </td>

        <td>
          <mat-form-field appearance="fill" style="max-width: 200px">
            <mat-label>Nom de la configuration</mat-label>
            <input matInput type="text" [(ngModel)]="config_name" >
          </mat-form-field>
          <button type="button" mat-raised-button mat-button
                  (click)="save_config()">
            Enregistrer
          </button>
        </td>
        <td>
          <mat-checkbox [(ngModel)]="config_with_image">Inclure les images</mat-checkbox>
        </td>
      </tr>
    </table>

  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>Options avancées</mat-expansion-panel-header>
    <table>
      <tr>
        <td>
          <button type="button" mat-raised-button mat-button
                  (click)="generate_collection('upload')">
            Mettre en ligne
          </button>

          <mat-form-field style="fontsize:small">
            <mat-label>Plateforme de stockage</mat-label>
            <mat-select [(value)]="sel_platform">
              <mat-option *ngFor="let platform of platforms" [value]="platform.value">
                {{platform.label}}
              </mat-option>
            </mat-select>
          </mat-form-field>

        </td>
        <td>
          <mat-form-field style="fontsize:small">
            <mat-label>Palette</mat-label>
            <mat-select [(value)]="sel_palette" (selectionChange)="change_palette($event)">
              <mat-option *ngFor="let k of palette_names" [value]="palette[k]">
                {{k}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </td>
        <td>
          <div id="showPalette">
            <div style="width: 20px;height:20px;display: inline-block" *ngFor="let color of sel_colors" [style.background-color]="color" ></div>
          </div>
        </td>
      </tr>
    </table>
  </mat-expansion-panel>

</div>
