<mat-tab-group [selectedIndex]="indexTab" (selectedIndexChange)="refresh($event)">
  <mat-tab label="NFTs">
    <app-nfts [nfts]="nfts" format="image" (refresh)="refresh()">
    </app-nfts>
  </mat-tab>

  <mat-tab label="Detail" *ngIf="showDetail">
    <app-nfts [nfts]="nfts" format="json">
    </app-nfts>
  </mat-tab>

  <mat-tab label="Accès">
    <div style="width:100%;  text-align: center;">
      <img [src]="url_key" style="width: 90%;margin-left: 5%;max-width: 600px;">
      <br>
      <small>{{addr}}</small>
    </div>
  </mat-tab>



</mat-tab-group>

