<div class="mainform">
  <h1>Pool de minage des NFTs</h1>
  <app-hourglass [message]="message"></app-hourglass>
  <div id="cmdPanel" style="width: 100%;" *ngIf="message.length==0">
    <button type="button" mat-raised-button mat-button
            (click)="run()">
      Traitement
    </button>

    <button type="button" mat-raised-button mat-button
            (click)="reset_pool()">
      Reset
    </button>

    <button type="button" mat-raised-button mat-button
            (click)="refresh()">
      Actualiser
    </button>

    <mat-checkbox *ngIf="asks.length>=10"
                  [(ngModel)]="showAll"
                  (ngModelChange)="refresh()">
      Tous les traitements
    </mat-checkbox>


    <br>

  </div>
  <table style="width: 96%;text-align: center;padding: 1%;margin:1%;" class="mat-elevation-z4">
    <tr>
      <th>Ajouter le</th>
      <th>Network</th>
      <th>Sources</th>
      <th>Filtre</th>
      <th>Mineur</th>
      <th>Destinataire</th>
      <th>Prévu pour</th>
      <th>Réalisé le</th>
      <th>Résultat</th>
      <th>Commande</th>
    </tr>
    <tr *ngFor="let ask of asks">
      <td>{{ask.dtCreate*1000 | date:'dd/MM HH:mm'}} </td>
      <td>{{ask.network}} </td>
      <td>
        <ul>
          <li *ngFor="let s of ask.sources">
            {{s.connexion}} / {{s.owner}} {{s.collections}}
          </li>
        </ul>
      </td>
      <td>{{ask.filter}}</td>
      <td style="max-width: 200px;">{{ask.miner | alias | slice:0:20}}</td>
      <td style="max-width: 200px;">{{ask.dest | alias | slice:0:20}} </td>
      <td>{{ask.dtStart*1000 | date:'dd/MM HH:mm'}}</td>
      <td><span *ngIf="ask.dtWork">{{ask.dtWork*1000 | date:'dd/MM HH:mm'}}</span></td>
      <td style="max-width: 200px;">{{ask.message | slice:0:40}}</td>
      <td>
        <button type="button" mat-raised-button mat-icon-button mat-button *ngIf="!ask.dtWork"
                title="supprimer le traitement"
                (click)="cancel(ask)">
          <mat-icon>delete</mat-icon>
        </button>
        <button type="button" mat-icon-button mat-raised-button mat-button *ngIf="!ask.dtWork"
                title="Exécuter le traitement"
                (click)="run(ask.id)">
          <mat-icon>play_circle</mat-icon>
        </button>
        <button type="button" mat-icon-button mat-raised-button mat-button
                title="Recommencer le traitement"
                *ngIf="ask.dtWork"
                (click)="retry(ask)">
          <mat-icon>refresh</mat-icon>
        </button>

      </td>
    </tr>
  </table>
</div>
