<div class="mainform" style="text-align: center">

  <div class="mat-subheading-1">
    {{message}}
  </div>
  <br><br><br>

  <div class="mat-display-1">
    Se connecter via
  </div>


  <button type="button" color="primary" mat-raised-button mat-button (click)="connect('solana')">
    Solana
  </button>
  <br>

  <button type="button" color="primary"  mat-raised-button mat-button (click)="connect('elrond')">
    Elrond
  </button>
  <br>

  <button type="button" color="primary"  mat-raised-button mat-button (click)="connect('google')">
    Google
  </button>
  <br>

</div>
