<div class="surbloc" [style.width]="width" [style.height]="height" [style.margin]="margin" (mouseenter)="on_reverse(true)" (mouseleave)="on_reverse(false)">
  <div class="flip-card-inner">
    <div class="flip-card-front" [ngStyle]="style">
      <div style="display: block;position: absolute;left: 5px;top:5px;z-index: 1;"
           *ngIf="title.length>0"
           [style.font-size]="fontsize" [style.color]="color">{{title}}</div>
      <img [src]="image"
           style="width:100%;height:100%;object-fit: cover;">
    </div>
    <div class="flip-card-back" [ngStyle]="style">
      <ng-content></ng-content>
    </div>
  </div>
</div>
