<div class="mainform">
  <br>
  <app-authent (authent)="on_authent($event)"
               size="300px"
               *ngIf="message?.length==0 && operation && operation!.validate && operation!.validate.authentification && operation.validate.filters"
               [checknft]="operation.validate.filters.collections"
               [showWalletConnect]="operation.validate.authentification.wallet_connect"
               [showAddress]="operation.validate.authentification.address"
               [showWebcam]="operation.validate.authentification.webcam"
               [showNfluentWalletConnect]="operation.validate.authentification.nfluent_wallet_connect"
               (invalid)="on_invalid()"
               (disconnect)="on_disconnect()">
  </app-authent>

  <div style="font-size: large;width: 100%;text-align: center;">
    {{message}}
  </div>


</div>
