<div style="background-color: black;width:100vw;height: 100vh;left:0;top:0;z-index: 999;position: fixed;display: block;" *ngIf="show==0">

</div>
<div [style.background-image]="'url('+image+')'" [style.filter]="filter" @fadeOut *ngIf="show==1"
     style="background-position:center; background-repeat: no-repeat;background-size: cover;width:100%;height: 100vh;text-align: center;position: absolute;left:0;top:0;z-index: 1000;">
  <div class="mat-headline-1" style="color: white;margin-top: 20%;">{{appname}}</div>
  <div class="mat-headline-5" style="color: white;">{{description}}</div>
</div>
