<div style="width: 100vw;text-align: center;overflow: hidden;" class="background-form" [style.background-image]="'url('+background+')'">

        <app-showroom [nfts]="nfts"
                      [size]="size+'vh'"
                      [style.margin]="((100-size)/2)+'vh'"
                      [delay]="delay_between"
                      class="mat-elevation-z24"
                      style="display: inline-block;"
                      (update)="update_nft($event)"
                      *ngIf="nfts.length>0"></app-showroom>

    <div class="mat-headline-5" style="margin-top: 20px;">
        {{nft_title}}
    </div>

    <app-authent [showWalletConnect]="true"
                 [directShowQRCode]="true"
                 title="Flasher pour présenter vos NFTs"
                 [showExtensionWallet]="true"
                 *ngIf="nfts.length==0"
                 [showCancel]="false"
                 [network]="network"
                 (authent)="on_authen($event)"></app-authent>

    <app-authent [showWalletConnect]="true"
                 [directShowQRCode]="true"
                 size="150px"
                 style="display: block;position: absolute;right:75px;bottom:75px;z-index: 10;opacity: 0.5;"
                 *ngIf="nfts.length>0 && canChange"
                 [network]="network"
                 [showCancel]="false"
                 (authent)="on_authen($event)"></app-authent>
</div>

