<div *ngFor="let nft of nfts_out" style="display: inline-flex;margin:10px;">
  <div *ngIf="format=='obj'" style="display: block;width: 450px;height:400px;padding:10px;" class="mat-elevation-z4">
    <strong>{{nft.offchain.name}}</strong><br><br>

    <table style="font-size: xx-small;width:100%;line-height: 90%;">
      <tr *ngFor="let attr of nft.offchain.attributes" (click)="update_field(attr,nft)">
        <td>{{attr.trait_type}}</td>
        <td>{{attr.value}}</td>
      </tr>
    </table>

    <button
      type="button" aria-label="Toggle sidenav" mat-icon-button
      (click)="burn(nft)"
      *ngIf="format=='obj' && nft.updateAuthority==user.wallet.publicKey?.toBase58()">
      <mat-icon aria-label="Side nav toggle icon">delete</mat-icon>
    </button>



  </div>
  <span *ngIf="format=='str'">{{nft}}</span>

  <div *ngIf="format=='json'" class="mat-elevation-z4" style="padding: 10px;">
    {{nft.offchain.name}}<br>
    <ngx-json-viewer [json]="nft" [expanded]="false"></ngx-json-viewer>
  </div>

  <div *ngIf="format=='html'" [innerHTML]="nft" style="display: inline-block;"></div>

</div>

