Flask
Flask-Cors
pyyaml
pyopenssl
solana
base58
ipfshttpclient
erdpy
ansi
secret-sdk
pyqrcode
pillow
py7zr
ffmpeg-python
pypng
dnspython==2.0.0
pymongo
google-cloud-storage
PyGithub
fonttools
numpy
svglib
pycairo
imageio
bip_utils
matplotlib
Unidecode
xmltodict
