Flask
Flask-Cors
pyyaml
solana
base58
ipfshttpclient
#secret-sdk
pyqrcode
pillow
py7zr
ffmpeg-python
pypng
dnspython
pyopenssl==23.1.1
pymongo
google-cloud-storage==2.8.0
PyGithub
fonttools
numpy
svglib
pycairo
imageio
bip_utils
matplotlib
Unidecode
xmltodict
flask-jwt-extended
apscheduler
Flask-Caching
requests-cache
cryptography
networkx
flask-socketio
simple-websocket
py-solc-x
web3==6.0.0
pandas
rembg==2.0.32
erdpy==4.0.0
pytest
