

  <ng-content style="display: inline-block;"></ng-content>&nbsp;&nbsp;
  <mat-form-field [ngStyle]="{fontsize:fontsize}" style="min-width: 50px;max-width: 90px;display: inline-block;" [appearance]="apparence">
    <mat-select  [(value)]="selected" (selectionChange)="refresh($event)" >
      <mat-option *ngFor="let key of keys" [value]="key">
        {{key.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>


  <div style="margin-left:10px;margin-top: 20px;font-size: large;display: inline-block;">
    <mat-icon (click)="informe_copy()"
              title="Copier l'adresse publique"
              [cdkCopyToClipboard]="selected?.pubkey!">
      content_copy
    </mat-icon>

    <mat-icon (click)="open_wallet()">
      local_atm
    </mat-icon>

</div>
