<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav sidemenu" fixedInViewport
               [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
               [mode]="(isHandset$ | async) ? 'over' : 'side'"
               [opened]="(isHandset$ | async) === false && toolbar_visible=='true'">

    <mat-toolbar class="mat-body-2" color="primary">
      <div *ngIf="user.connected()">
        {{user.addr | alias}}
        {{user.email}}
      </div>



      <div style="line-height: 90%" *ngIf="!user.connected()">
        {{title}}<br>
        <small>v{{version}}</small>
      </div>
    </mat-toolbar>

    <mat-nav-list>
      <a mat-list-item [routerLink]="'creator'">Générateur de collection</a>
      <a mat-list-item [routerLink]="'reload'">Rechargement</a>
      <a mat-list-item [routerLink]="'keys'">Gestion des clés</a>
      <a mat-list-item [routerLink]="'mint'">Miner</a>
      <a mat-list-item [routerLink]="'build'">Gestion des opérations</a>
      <a mat-list-item [routerLink]="'manage'">Gestion des NFTs</a>
      <a mat-list-item [routerLink]="'wallet'">Mes NFTs</a>
      <a mat-list-item [routerLink]="'admin'">Administrateur</a>
      <a mat-list-item [routerLink]="'help'">Aide</a>
      <a mat-list-item [routerLink]="'faqs'">Questions Fréquentes</a>
      <a mat-list-item [routerLink]="'about'">A propros</a>
    </mat-nav-list>
  </mat-sidenav>


  <mat-sidenav-content>
    <mat-toolbar color="primary" class="mat-subheading-1" *ngIf="toolbar_visible=='true'" >
      <button
        type="button"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon>menu</mat-icon>
      </button>

      <div *ngIf="network_service.waiting.length>0" style="display: inline-block;color:white;" class="mat-subheading-2">
        <mat-spinner style="display: inline-block;" color="warn" diameter="20"></mat-spinner>&nbsp;{{network_service.waiting}}
      </div>

      <span class="example-spacer"></span>

      <mat-form-field style="min-width: 150px;width: 10%;">
        <mat-select  [(value)]="network_service.network" (selectionChange)="update_network()">
          <mat-option *ngFor="let network of networks" [value]="network" >
            {{network}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <app-selectkey [keys]="metaboss.keys">
        Sign:
      </app-selectkey>&nbsp;&nbsp;

      <button mat-button
              *ngIf="!user.connected()"
              mat-icon-button
              (click)="login()">
        <mat-icon>login</mat-icon>
      </button>


      <button type="button"
              *ngIf="user.connected()"
              aria-label="Connexion"
              mat-icon-button
              (click)="logout()">
        <mat-icon>logout</mat-icon>
      </button>

    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>


