<div class="mainform" style="text-align: left;" *ngIf="server_config">
  <mat-expansion-panel>
    <mat-expansion-panel-header>Tables</mat-expansion-panel-header>

    <table>
      <tr>
        <td>Adresse de la base</td><td><strong>{{server_config!.Database_Server}}</strong></td>
      </tr>
      <tr>
        <td>Nom de la base</td>
        <td><strong>{{server_config!.Database_Name}}</strong></td>
      </tr>
    </table>

    <mat-accordion>
      <mat-expansion-panel  *ngFor="let tablename of ['nfts','validators','users','histo','mintpool','account_by_emails']">
        <mat-expansion-panel-header class="color-accent">{{tablename}}</mat-expansion-panel-header>
        <app-dbtable excludes="attributes"
                   [title]="tablename"
                   [table]="tablename"
                   [showClear]="true"></app-dbtable>
      </mat-expansion-panel>
    </mat-accordion>

  </mat-expansion-panel>


  <mat-expansion-panel *ngIf="server_config" [expanded]="true">
    <mat-expansion-panel-header>Configuration actuelle</mat-expansion-panel-header>
    <table>
      <tr>
        <td>Adresse du serveur: </td>
        <td>{{server_config.Server}}</td>
      </tr>
      <tr>
        <td>Adresse du client: </td>
        <td>{{server_config.Client}}</td>
      </tr>
      <tr></tr>
      <tr>
        <td>Adresse de la base: </td>
        <td>{{server_config.Database_Server}}</td>
      </tr>
      <tr></tr>
      <tr>
        <td>Tables</td>
        <td>
          Tokens      : {{server_config.Database.tokens}}<br>
          Validateurs : {{server_config.Database.validators}}<br>
          Pool de mint: {{server_config.Database.mintpool}}<br>
        </td>
      </tr>
    </table>

  </mat-expansion-panel>


  <mat-expansion-panel [expanded]="false">
    <mat-expansion-panel-header>Déploiement du serveur</mat-expansion-panel-header>
    <mat-checkbox [(ngModel)]="first_install" (change)="refresh()">Première installation</mat-checkbox><br>

    <app-input [(value)]="server_addr" label="Adresse du serveur" width="250px" (valueChange)="refresh()"></app-input>
    <app-input [(value)]="appli_addr" label="Adresse de l'application" width="250px" (valueChange)="refresh()"></app-input>

    <mat-checkbox [(ngModel)]="debug_mode" (change)="refresh()">Mode débug</mat-checkbox>
    <br>
    Base de données:<br>
    <app-input [(value)]="db_addr" label="Adresse de la base" width="250px"></app-input>
    <app-input [(value)]="db_login" label="Login admin pour la base" width="150px"></app-input>
    <app-input [(value)]="db_password" label="Mot de passe" width="150px"></app-input>
    <br>


    <app-input [(value)]="activity_report" width="300px"
               label="Mail de réception du rapport d'activité" width="250px" (valueChange)="refresh()"></app-input>
    <br>

    <table style="width: 100%;">
      <tr style="width: 100%;">
        <th style="width: 50%;">Installation du serveur <mat-icon [cdkCopyToClipboard]="setup_server">content_copy</mat-icon></th>
        <th style="width: 50%;">Lancement des applicatif <mat-icon [cdkCopyToClipboard]="setup_client">content_copy</mat-icon></th>
      </tr>
      <tr title="Cliquer pour copier ce contenu">
        <td style="background: #e8e8e8;padding:15px;" [innerHTML]="setup_server" ></td>
        <td style="background: #e8e8e8;padding:15px;" [innerHTML]="setup_client" ></td>
      </tr>
      <tr style="text-align: center;">
        <td>
          <button mat-raised-button
                  style="margin: 10px;"
                  (click)="test_server()">
            Tester le serveur
          </button>
        </td>
        <td>
          <button mat-raised-button
                  style="margin: 10px;"
                  title="Ouvrir l'application"
                  (click)="open_appli(appli_addr)">
            Ouvrir
          </button>
        </td>
      </tr>
    </table>

    <br>

    <button mat-raised-button
            title="Restaurer les valeurs par défaut"
            (click)="reset()">
      Valeurs par défaut
    </button>

    <button mat-raised-button
            title="Restaurer les valeurs par défaut"
            (click)="load_values()">
      Valeurs enregistrées
    </button>

  </mat-expansion-panel>


  <mat-expansion-panel>
    <mat-expansion-panel-header>Déploiement de l'application</mat-expansion-panel-header>
    Longueur maximum : {{100*max_url_len/2000 | number: '1.0-0'}}%<br>
    <div class="expansion-content">
      <table class="mat-elevation-z2" style="margin: 10px;width:350px;display:inline-block;padding: 5px;">
        <tr style="width:100%;" *ngFor="let url of urls">
          <td style="width:150px;font-size: small;" [title]="url.description">{{url.title}}</td>
          <td></td>
          <td>
            <button mat-raised-button (click)="open_appli(url)">Ouvrir</button>
            <button mat-raised-button (click)="share_appli(url)">Partager</button>
          </td>
        </tr>
      </table>

      <div class="expansion-content" style="max-width: 800px;justify-content: flex-start;">
        <app-input [maxwidth]="w" label="Titre de la fenêtre principale" [value]="creator_title" (valueChange)="creator_title=$event;refresh();"></app-input>
        <app-input [maxwidth]="w" [value]="appli_addr" label="Adresse de l'application" (valueChange)="appli_addr=$event;refresh();"></app-input>
        <app-input [maxwidth]="w" [value]="intro_visual" label="Visuel d'introduction" (valueChange)="intro_visual=$event;refresh();"></app-input>
        <app-input [maxwidth]="w" [value]="intro_claim" label="Phrase d'introduction" (valueChange)="intro_claim=$event;refresh();"></app-input>
        <app-input [maxwidth]="w" [value]="intro_appname" label="Nom de l'application" (valueChange)="intro_appname=$event;refresh();"></app-input>

        <br>
        <app-input [maxwidth]="w" [value]="sel_stockage" [options]="stockages" [multiselect]="true"
                   label="Stockage offline visuel et metadata" value_field="value"
                   (valueChange)="sel_stockage=$event;refresh();"></app-input>

        <app-input [maxwidth]="w" [value]="sel_stockage_document" [options]="stockages" [multiselect]="true"
                   label="Stockage documents attachés" value_field="value"
                   (valueChange)="sel_stockage_document=$event;refresh();"></app-input>

        <br>
        <app-input width="80%" maxwidth="800px" [value]="sel_networks" [multiselect]="true" [options]="networks"
                   label="Blockchains disponibles"
                   (valueChange)="sel_networks=$event;refresh();"></app-input>

        <app-input [value]="sel_key" value_type="text" width="700px"
                   label="Clé à utiliser"
                   (valueChange)="sel_key=$event;refresh();"></app-input>

        <app-input [value]="sel_col" value_type="text" width="400px"
                   label="Identifiant de la collection à utiliser"
                   (valueChange)="sel_col=$event;refresh();"></app-input>

        <button mat-raised-button
                (click)="navigate_to_key()">
          Encrypter une clé
        </button>
        

<!--        <app-selkey *ngIf="first_network.length>0"-->
<!--                    [network]="first_network"-->
<!--                    style="width: 350px;"-->
<!--                    label="Sélectionnez un mineur"-->
<!--                    (onChange)="update_key($event)"></app-selkey>-->
      </div>
    </div>

  </mat-expansion-panel>



</div>


