<div class="mainform">
  <div class="mat-display-3 color-primary">Gestion des opérations</div>
  <mat-expansion-panel>
    <mat-expansion-panel-header>Qu'est-ce qu'une opération ?</mat-expansion-panel-header>
    une <strong>opération</strong> est un fichier regroupant
    <ul>
      <li>la liste des wallets utilisés pour le minage et comme créateur des nfts </li>
      <li>la liste des validateurs (adresses mails)</li>
      <li>le processus de validation</li>
      <li>le processus de génération automatique des NFTs (en construction)</li>
      <li>le processus de distribution 'libre-service' des NFTs (en construction)</li>
    </ul>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>Gestion des opérations</mat-expansion-panel-header>
    <table>
      <tr>
        <td>
          Créer une nouvelle opération<br>
          <a href="./assets/new_operation.yaml" download>Télécharger le modèle</a>

        </td>
        <td>
          Importer une opération<br>depuis votre poste<br>
          <app-upload-file (uploaded)="upload_operation($event)"
                           title="Ajouter une opération"
                           style="margin: 10px"
                           extensions=".yaml">
            Importer
          </app-upload-file>
          <br>
        </td>

        <td>
          <mat-form-field appearance="fill" style="width:300px;" *ngIf="url_ope==''">
            <mat-label>Sélectionner une opération hébergée sur le serveur</mat-label>
            <mat-select [(value)]="sel_ope" (selectionChange)="refresh_ope($event)" >
              <mat-option *ngFor="let ope of opes" [value]="ope">
                {{ope.title}}
              </mat-option>
            </mat-select>
            <mat-icon matSuffix (click)="sel_ope=null;">cancel</mat-icon>
          </mat-form-field>
          /
          <mat-form-field appearance="fill" style="width:300px;">
            <mat-label>Utiliser une operation depuis un lien web</mat-label>
            <input matInput type="url" [(ngModel)]="url_ope" (ngModelChange)="update_url_ope($event)">
            <mat-icon matSuffix (click)="url_ope=''">cancel</mat-icon>
          </mat-form-field>
        </td>

        <td>
          <button type="button" mat-raised-button mat-button (click)="delete_ope()">
            Supprimer
          </button>
          <button type="button" mat-raised-button mat-button (click)="download_ope()">
            Télécharger
          </button>
          <button type="button" mat-raised-button mat-button (click)="edit_ope()">
            Editer
          </button>

        </td>
      </tr></table>

  </mat-expansion-panel>

  <div *ngIf="sel_ope">
    <div class="mat-display-3"  >{{sel_ope.title}}</div>
    <small class="color-primary mat-display-1">{{sel_ope.description}}</small>

    <table style="line-height: 125%;">
      <tr style="font-size: medium">
        <td>
          Network:<br>
          Version:<br>
          Stockage:<br>
        </td>
        <td style="font-size: large;">
           {{sel_ope.network}}<br>
          {{sel_ope.version}}<br>
          {{sel_ope.metadatastorage}}
        </td>
      </tr>

    </table>

    <mat-expansion-panel>
      <mat-expansion-panel-header  class="color-primary">Source des NFTs</mat-expansion-panel-header>

        <table style="text-align: left;">
          <tr>
            <th>Sources</th>
            <th>Nombre de NFTs par collection</th>
          </tr>
          <tr>
            <td>
              Les NFTs disponible pour cette opérations sont extraits de: <br><br>
              <ul class="mat-subheading-1">
                <li *ngFor="let src of sources">
                  <span *ngIf="src.type=='web'">contenu dans le fichier <span class="color-accent">{{src.connexion}}</span></span>
                  <span *ngIf="src.type=='network'"><span class="color-accent">{{src.connexion}}</span> et possédés par <span class="color-accent">{{src.owner | alias}}</span></span>
                  <span *ngIf="src.type=='database'"> contenu dans la base <span class="color-accent">{{src.connexion}} / {{src.dbname}}</span></span>
                  ({{src.ntokens}})
                </li>
              </ul>
            </td>
            <td>
              <ul>
                <li *ngFor="let k of collection_keys">
                  {{k}}: {{collections[k]}}
                </li>
              </ul>
            </td>
          </tr>
        </table>

    </mat-expansion-panel>




      <mat-expansion-panel *ngIf="sel_ope.dispenser?.visible">
        <mat-expansion-panel-header  class="color-primary">Distribution</mat-expansion-panel-header>
        <table>
          <tr>
            <th>Propriétés</th>
            <th>Collections distribuables</th>
          </tr>

          <tr>
            <td>
              Mineur: {{sel_ope.dispenser?.miner}}<br>
              Network: {{sel_ope.network}}
            </td>
            <td>
              <ul>
                <li *ngFor="let col of sel_ope.dispenser!.collections!">
                  {{col.name}} < {{col.limit}}
                </li>
              </ul>
            </td>
            <td style="text-align: right;">
              <button type="button" mat-raised-button mat-button color="primary"
                      (click)="open_appli(url_dispenser_app,'distribuer')">
                Tester
              </button>

              <br>
              <button type="button" mat-raised-button mat-button color="primary"
                      (click)="share_link(url_dispenser_app,'Distributeur pour '+sel_ope.title,'Ouvrir ce lien distribuer des NFTs')">
                Partager
              </button>


            </td>
          </tr>
        </table>
      </mat-expansion-panel>


      <mat-expansion-panel *ngIf="sel_ope.lottery?.visible">
        <mat-expansion-panel-header  class="color-primary">Loterie</mat-expansion-panel-header>
        <table>
          <tr>
            <th>Propriété</th>
            <th>Collections impliquées</th>
            <th>Code à intégrer</th>
          </tr>
          <tr style="width: 100%;">
            <td>
              Mineur: {{sel_ope.lottery?.miner}}<br>
              Network: {{sel_ope.network}}
            </td>
            <td>
              <ul>
                <li *ngFor="let col of sel_ope.lottery.collections">
                  {{col.name}}
                </li>
              </ul>
            </td>
            <td style="text-align: left;">
              Store : <a [href]="sel_ope.lottery.application" target="same">Ouvrir</a><br>
              Iframe: <mat-icon [cdkCopyToClipboard]="sel_ope.lottery.iframe_code">build</mat-icon><br>
              QRCode: <mat-icon [cdkCopyToClipboard]="sel_ope.lottery.image_code">build</mat-icon>
            </td>
            <td>
            <span *ngFor="let col of collections_lottery">

            </span>
            </td>
            <td style="text-align: right;">
              <button type="button" mat-raised-button mat-button color="primary"
                      (click)="open_appli(sel_ope.lottery.application,'_self')">
                Tester
              </button>
              <br>

              <button type="button" mat-raised-button mat-button color="primary"
                      (click)="share_link(sel_ope.lottery.application,'Mode lotterie pour '+sel_ope.title,'Ouvrir ce lien pour initier la distribution')">
                Partager
              </button>

            </td>
          </tr>
        </table>
      </mat-expansion-panel>


      <mat-expansion-panel *ngIf="sel_ope.validate?.visible || url_ope.length>0">
        <mat-expansion-panel-header class="color-primary">
          Validation
        </mat-expansion-panel-header>

        <table>
          <tr>
            <th>Paramètres de la validation</th>
            <th>Propriétés visibles du validateurs</th>
            <th>Liste des validateurs autorisés</th>
            <th>Collections à valider</th>

          </tr>
          <tr style="vertical-align: top;">
            <td>
              <strong>Update:</strong> {{sel_ope.validate!.method!.update_authority}}<br>
              <strong>Storage:</strong> {{sel_ope.validate!.method!.storage}} / {{sel_ope.validate!.method!.repository}}
            </td>
            <td style="text-align: left;" *ngIf="sel_ope.validate?.users">
              <ul>
                <li *ngFor="let prop of sel_ope.validate!.properties">
                  {{prop}}
                </li>
              </ul>
            </td>
            <td style="text-align: left;" *ngIf="sel_ope.validate?.users">

              <ul>
                <li *ngFor="let user of sel_ope.validate!.users">
                  <mat-icon (click)="send_mail(user)"
                            style="cursor: pointer;font-size: medium;"
                            [title]="'notifier '+user">notifications</mat-icon>
                  {{user}}
                </li>
              </ul>
              <button type="button" mat-raised-button mat-button (click)="send_mail()">
                Tous les notifier
              </button>
            </td>
            <td>
              <ul>
                <li *ngFor="let col of sel_ope.validate!.filters!.collections">
                  {{col}}
                </li>
              </ul>
            </td>

            <td style="text-align: right;">
              <button type="button" mat-raised-button mat-button color="primary"
                      (click)="open_appli(sel_ope.validate!.application,'_self')">
                 Tester
              </button>
              <br>

              <button type="button" mat-raised-button mat-button color="primary"
                      (click)="share_link(sel_ope.validate!.application,'validation '+sel_ope.title,'Ouvrir ce lien pour commencer la validation')">
                Partager
              </button>

            </td>
          </tr>
        </table>
      </mat-expansion-panel>


    <mat-expansion-panel *ngIf="sel_ope.store?.visible || url_ope.length>0">
      <mat-expansion-panel-header class="color-primary">
        Store
      </mat-expansion-panel-header>
      <table >
        <tr style="width: 100%;">
          <th>Collection en ventes</th>
          <th>Prestashop</th>
          <th>Vente directe</th>
        </tr>
        <tr>
          <td>
            <ul>
              <li *ngFor="let k of store_collections">
                {{k.name}}: {{k.price}} €
              </li>
            </ul>
          </td>
          <td>
            Serveur: {{sel_ope.store!.prestashop!.server}}<br>
            <a [href]="sel_ope.store!.prestashop!.address.replace('$server$',sel_ope.store!.prestashop!.server)" target="store">Voir la boutique</a>
            /
            <a [href]="sel_ope.store!.prestashop!.admin.replace('$server$',sel_ope.store!.prestashop!.server)" target="store">Accès admin</a>
            <br><br>
            <button type="button" mat-raised-button mat-button
                    (click)="send_prestashop(sel_ope.id)">
              Transférer les NFTs
            </button>
          </td>
          <td style="text-align: right;">
            <button type="button" mat-raised-button mat-button color="primary"
                    (click)="open_appli(sel_ope.store!.application+'?ope='+sel_ope.id+'&toolbar=false','_self')">
              Tester
            </button>
            <br>
            <button type="button" mat-raised-button mat-button
                    (click)="share_link(sel_ope.store!.application+'?ope='+sel_ope.id+'&toolbar=false','la boutique '+sel_ope.title,'Ouvrir ce lien pour commencer la validation')">
              Partager
            </button>
          </td>
        </tr>
      </table>
    </mat-expansion-panel>

  </div>

</div>
