<div class="mainform">
  <div class="mat-display-3 color-primary">Gestion des opérations</div>
  <mat-expansion-panel>
    <mat-expansion-panel-header>Qu'est-ce qu'une opération ?</mat-expansion-panel-header>
    une <strong>opération</strong> est un fichier regroupant
    <ul>
      <li>la liste des wallets utilisés pour le minage et comme créateur des nfts </li>
      <li>la liste des validateurs (adresses mails)</li>
      <li>le processus de validation</li>
      <li>le processus de génération automatique des NFTs (en construction)</li>
      <li>le processus de distribution 'libre-service' des NFTs (en construction)</li>
    </ul>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>Gestion des opérations</mat-expansion-panel-header>
    <table>
      <tr>
        <td>
          Créer une nouvelle opération<br>
          <a href="./assets/new_operation.yaml" download>Télécharger le modèle</a>

        </td>
        <td>
          Importer une opération<br>depuis votre poste<br>
          <app-upload-file (uploaded)="upload_operation($event)"
                           title="Ajouter une opération"
                           style="margin: 10px" format="text"
                           extensions=".yaml">
            Importer
          </app-upload-file>
          <br>
        </td>

        <td>

          /
          <mat-form-field appearance="fill" style="width:300px;">
            <mat-label>Utiliser une operation depuis un lien web</mat-label>
            <input matInput type="url" [(ngModel)]="url_ope" (ngModelChange)="update_url_ope($event)">
            <mat-icon matSuffix (click)="url_ope=''">cancel</mat-icon>
          </mat-form-field>
        </td>

        <td>
          <button type="button" mat-raised-button mat-button (click)="delete_ope()">
            Supprimer
          </button>
          <button type="button" mat-raised-button mat-button (click)="download_ope()">
            Télécharger
          </button>
          <button type="button" mat-raised-button mat-button (click)="edit_ope()">
            Editer
          </button>

        </td>
      </tr></table>

  </mat-expansion-panel>

  <div *ngIf="operation.sel_ope">
    <div class="mat-display-3"  >{{operation.sel_ope.title}}</div>
    <small class="color-primary mat-display-1">{{operation.sel_ope.description}}</small>

    <table style="line-height: 125%;">
      <tr style="font-size: medium">
        <td>
          Network:<br>
          Version:<br>
          Stockage:<br>
        </td>
        <td style="font-size: large;">
           {{operation.sel_ope.network}}<br>
          {{operation.sel_ope.version}}<br>
          {{operation.sel_ope.metadatastorage}}
        </td>
      </tr>
    </table>



    <mat-expansion-panel *ngIf="sources?.length>0">
      <mat-expansion-panel-header  class="color-primary">Sources des NFTs</mat-expansion-panel-header>
        <table style="text-align: left;">
          <tr>
            <th>Sources</th>
            <th>Nombre de NFTs par collection</th>
          </tr>
          <tr>
            <td>
              Les NFTs disponibles pour cette opérations sont extraits de: <br><br>
              <ul class="mat-subheading-1">
                <li *ngFor="let src of sources">
                  <span *ngIf="src.type=='web'">contenu dans le fichier <span class="color-accent">{{src.connexion}}</span></span>
                  <span *ngIf="src.type=='network'">
                    <span class="color-accent">{{src.connexion}}</span>
                    <span *ngIf="src.owner"> et possédés par <{{src.owner | alias}}</span>
                    <span *ngIf="src.collections.length>0"> des collections {{src.collections.join(' - ')}}</span>
                  </span>
                  <span *ngIf="src.type=='database'"> contenu dans la base <span class="color-accent">{{src.connexion}} / {{src.dbname}}</span></span>
                  ({{src.ntokens}})
                </li>
              </ul>
            </td>
            <td>
              <ul>
                <li *ngFor="let k of collection_keys" [cdkCopyToClipboard]="k" style="cursor: copy;">
                  {{k}} : {{collections[k]}}
                </li>
              </ul>
            </td>
          </tr>
        </table>

      <button type="button" mat-raised-button mat-button color="primary"
              (click)="open_miner()">
        Miner
      </button>
    </mat-expansion-panel>



    <mat-expansion-panel *ngIf="operation.sel_ope.collections">
      <mat-expansion-panel-header class="color-primary">Détail des collections</mat-expansion-panel-header>
      <table>
        <tr>
          <th>Description</th>
          <th>Visuel</th>
          <th>Prix par défaut</th>
        </tr>
        <tr *ngFor="let col of operation.sel_ope.collections">
          <td>{{col.name}}<br><small>{{col.description}}</small></td>
          <td><img [src]="col.visual" style="width:150px"></td>
          <td>{{col.price}}</td>
        </tr>
      </table>
    </mat-expansion-panel>


    <mat-expansion-panel *ngIf="operation.sel_ope.event">
      <mat-expansion-panel-header class="color-primary">Evénement associé</mat-expansion-panel-header>
      <table>
        <tr>
          <th>Evénement</th>
          <th>NFTLive</th>
        </tr>
        <tr>
          <td>
            <table>
              <tr>
                <td>Titre de l'événement:</td>
                <td>{{operation.sel_ope.event.title}}</td>
              </tr>
              <tr>
                <td>Lieu</td>
                <td>{{operation.sel_ope.event.place}}</td>
              </tr>
              <tr>
                <td>Dates</td>
                <td>
                  <div *ngFor="let d of operation.sel_ope.event!.dates">
                    {{d.start}} -> {{d.end}}
                  </div>
                </td>
              </tr>
            </table>

          </td>
          <td *ngIf="operation.sel_ope.nftlive && operation.sel_ope.nftlive!.collections">
            Collections: {{operation.sel_ope.nftlive!.collections.join(' - ')}}<br>
            Configuration: {{operation.sel_ope.nftlive!.configuration}}<br>
          </td>
        </tr>
      </table>
    </mat-expansion-panel>


      <mat-expansion-panel *ngIf="operation.sel_ope.lazy_mining">
      <mat-expansion-panel-header  class="color-primary">Paramètres de minage</mat-expansion-panel-header>
      <table>
        <tr>
          <th>Stockage</th>
          <th>Mineur</th>
        </tr>
        <tr>
        <td>
          Content: {{operation.sel_ope.lazy_mining.content_storage}}<br>
          Metadata: {{operation.sel_ope.lazy_mining.metadata_storage}}<br>
        </td>
          <td>
            Miner: {{operation.sel_ope.lazy_mining.miner}}<br>
            Target: {{operation.sel_ope.lazy_mining.network}}
          </td>
        </tr>
      </table>
    </mat-expansion-panel>


      <!-- Section lié au dispenser / a la distribution -->
      <mat-expansion-panel *ngIf="operation.sel_ope.dispenser?.visible">
        <mat-expansion-panel-header class="color-primary">Distribution par le propriétaire</mat-expansion-panel-header>
        <table>
          <tr>
            <th>Propriétés</th>
            <th>Collections distribuables</th>
          </tr>

          <tr>
            <td>
              Mineur: {{operation.sel_ope.dispenser?.miner}}<br>
              Network: {{operation.sel_ope.network}}
            </td>
            <td>
              <ul>
                <li *ngFor="let col of operation.sel_ope.dispenser!.collections!">
                  {{col}}
                </li>
              </ul>
            </td>
            <td style="text-align: right;">
              <button type="button" mat-raised-button mat-button color="primary"
                      (click)="open_appli('dispenser')">
                Ouvrir
              </button>

              <br>
              <button type="button" mat-raised-button mat-button color="primary"
                      (click)="share_link(url_dispenser_app,'Distributeur pour '+operation.sel_ope.title,'Ouvrir ce lien distribuer des NFTs')">
                Partager
              </button>


            </td>
          </tr>
        </table>
      </mat-expansion-panel>





      <mat-expansion-panel *ngIf="operation.sel_ope.candymachine.visible">
      <mat-expansion-panel-header class="color-primary">Distributeur automatique</mat-expansion-panel-header>
      <table>
        <tr>
          <th>Collections impliquées</th>
          <th>QRCode d'accès</th>
          <th>Partager le lien</th>
        </tr>
        <tr>
          <td>
            <ul>
              <li *ngFor="let col of operation.sel_ope.candymachine.collections">
                {{col}}
              </li>
            </ul>
          </td>
          <td>
            <a [href]="candymachine_qrcode" target="print">
              <img [src]="candymachine_qrcode" style="width: 200px;">
            </a><br>
            <small>cliquer pour visualiser en grand format</small>
          </td>
          <td style="text-align: right;">
            <button type="button" mat-raised-button mat-button color="primary"
                    (click)="open_appli('cm')">
              Ouvrir
            </button>
            <br>
            <button type="button" mat-raised-button mat-button color="primary"
                    (click)="share_link(candymachine_url,'Gagner des NFT','Recevoir des NFT gratuitement')">
              Partager
            </button>

<!--            <share-buttons [theme]="'circles-dark'"-->
<!--                           style="text-align: center;font-size: small;"-->
<!--                           [include]="['facebook','twitter','linkedin','telegram','messenger','whatsapp','email','copy']"-->
<!--                           [show]="8"-->
<!--                           [url]="url"-->
<!--                           description="Découvrez mon profil et mes réalisations"-->
<!--                           tags="FEMIS"-->
<!--                           [title]="title">-->
<!--            </share-buttons>-->
          </td>
        </tr>
      </table>
    </mat-expansion-panel>



      <mat-expansion-panel *ngIf="operation.sel_ope.lottery?.visible">
        <mat-expansion-panel-header  class="color-primary">Loterie</mat-expansion-panel-header>
        <table>
          <tr>
            <th>Propriété</th>
            <th>Collections impliquées</th>
            <th>Code à intégrer</th>
          </tr>
          <tr style="width: 100%;">
            <td>
              Mineur: {{operation.sel_ope.lottery?.miner}}<br>
              Network: {{operation.sel_ope.network}}
            </td>
            <td>
              <ul>
                <li *ngFor="let col of operation.sel_ope.lottery.collections">
                  {{col}}
                </li>
              </ul>
            </td>
            <td style="text-align: left;">
              Store : <a [href]="operation.sel_ope.lottery.application" target="same">Ouvrir</a><br>
              Iframe: <mat-icon [cdkCopyToClipboard]="operation.sel_ope.lottery.iframe_code">build</mat-icon><br>
              QRCode: <mat-icon [cdkCopyToClipboard]="operation.sel_ope.lottery.image_code">build</mat-icon>
            </td>
            <td>
            <span *ngFor="let col of collections_lottery">

            </span>
            </td>
            <td style="text-align: right;">
              <button type="button" mat-raised-button mat-button color="primary"
                      (click)="open_appli('lottery')">
                Ouvrir
              </button>
              <br>

              <button type="button" mat-raised-button mat-button color="primary"
                      (click)="share_link(operation.sel_ope.lottery.application,'Mode lotterie pour '+operation.sel_ope.title,'Ouvrir ce lien pour initier la distribution')">
                Partager
              </button>

            </td>
          </tr>
        </table>
      </mat-expansion-panel>


      <mat-expansion-panel *ngIf="operation.sel_ope.validate?.visible || url_ope!.length>0">
        <mat-expansion-panel-header class="color-primary">
          Validation
        </mat-expansion-panel-header>

        <table>
          <tr>
            <th>Paramètres de la validation</th>
            <th>Propriétés visibles du validateurs</th>
            <th>Liste des validateurs autorisés</th>
            <th>Collections à valider</th>

          </tr>
          <tr style="vertical-align: top;">
            <td>
              <strong>Update:</strong> {{operation.sel_ope.validate!.method!.update_authority}}<br>
              <strong>Storage:</strong> {{operation.sel_ope.validate!.method!.storage}} / {{operation.sel_ope.validate!.method!.repository}}
            </td>
            <td style="text-align: left;" *ngIf="operation.sel_ope.validate?.users">
              <ul>
                <li *ngFor="let prop of operation.sel_ope.validate!.properties">
                  {{prop}}
                </li>
              </ul>
            </td>
            <td style="text-align: left;" *ngIf="operation.sel_ope.validate?.users">
              <ul>
                <li *ngFor="let user of operation.sel_ope.validate!.users">
                  <mat-icon (click)="send_mail(user)"
                            style="cursor: pointer;font-size: medium;"
                            [title]="'notifier '+user">notifications</mat-icon>
                  {{user}}
                </li>
              </ul>
              <button type="button" mat-raised-button mat-button (click)="send_mail()">
                Tous les notifier
              </button>
            </td>
            <td>
              <ul>
                <li *ngFor="let col of operation.sel_ope.validate!.filters!.collections">
                  {{col}}
                </li>
              </ul>
            </td>

            <td style="text-align: right;">
              <button type="button" mat-raised-button mat-button color="primary"
                      title="Permet de tester le processus de validation"
                      (click)="open_appli('validate')">
                Ouvrir
              </button>


              <br>

              <button type="button" mat-raised-button mat-button color="primary"
                      (click)="share_link(operation.sel_ope.validate!.application,'validation '+operation.sel_ope.title,'Ouvrir ce lien pour commencer la validation')">
                Partager
              </button>

            </td>
          </tr>
        </table>
      </mat-expansion-panel>


    <mat-expansion-panel *ngIf="operation.sel_ope.store?.visible || url_ope.length>0">
      <mat-expansion-panel-header class="color-primary">
        Store
      </mat-expansion-panel-header>
      <table >
        <tr style="width: 100%;">
          <th>Collection en ventes</th>
          <th>Filtres</th>
          <th>Prestashop</th>
          <th>Vente directe</th>
        </tr>
        <tr>
          <td>
            <ul>
              <li *ngFor="let k of store_collections">
                {{k}}
              </li>
            </ul>
          </td>
          <td>
            De {{operation.sel_ope.store!.filter!.from}} à {{operation.sel_ope.store!.filter!.to}}
          </td>
          <td>
            Serveur: {{operation.sel_ope.store!.prestashop!.server}}<br>
            <a [href]="operation.sel_ope.store!.prestashop!.address.replace('$server$',operation.sel_ope.store!.prestashop!.server)" target="store">Voir la boutique</a>
            /
            <a [href]="operation.sel_ope.store!.prestashop!.admin.replace('$server$',operation.sel_ope.store!.prestashop!.server)" target="store">Accès admin</a>
            <br><br>
            <button type="button" mat-raised-button mat-button
                    (click)="send_prestashop(operation.sel_ope.id)">
              Transférer les NFTs
            </button>
            <button type="button" mat-raised-button mat-button
                    (click)="analyse_order(operation.sel_ope.id)">
              Analyser les commandes
            </button>
          </td>
          <td style="text-align: right;">
            <button type="button" mat-raised-button mat-button color="primary"
                    (click)="open_appli('store')">
              Ouvrir
            </button>
            <br>
            <button type="button" mat-raised-button mat-button
                    (click)="share_link(operation.sel_ope.store!.application+'?ope='+operation.sel_ope.id+'&toolbar=false','la boutique '+operation.sel_ope.title,'Ouvrir ce lien pour commencer la validation')">
              Partager
            </button>
          </td>
        </tr>
      </table>
    </mat-expansion-panel>

  </div>

</div>
