td,tr,table {
  padding: 5px;
  border-spacing: 1px;
}

table,tr {
  width:100%;
}


td {
  text-align: left;
}

mat-icon {
  font-size: small;
}

mat-expansion-panel {
  margin: 0.2%;
}



button {
  min-width: 120px;
  margin: 3px;
}
