<div class="mainform" style="text-align: center;" *ngIf="final_message==''">
  <app-hourglass [message]="message"></app-hourglass>

  <br>Pour Acquérir<br>
  <img [src]="nft.image" *ngIf="nft.image" style="max-width: 400px;width:80%;">

  <div *ngIf="message.length==0 && wallet_link==''">
    <mat-form-field appearance="fill" style="width: 300px">
      <mat-label>Indiquez l'adresse de votre wallet ou votre email si vous n'en avez pas</mat-label>
      <input matInput type="text" [(ngModel)]="address">
    </mat-form-field>

    <button type="button" mat-raised-button mat-button
            (click)="valide()">
      Demander
    </button>
  </div>

  <div *ngIf="wallet_link.length>0">
    <span *ngIf="address.indexOf('@')>-1">
      Consulter votre email {{address}} pour retrouver votre nouveau NFT
    </span>
    <div *ngIf="address.indexOf('@')==-1">
      Consulter votre wallet pour y retrouver votre nouveau NFT<br>
      <a [href]="wallet_link" target="_blank">Ouvrir votre wallet</a>
    </div>

  </div>
</div>
<div class="mainform" style="text-align: center;" *ngIf="final_message!=''">
  <div style="font-size: xx-large;width:80%;margin:10%;text-align: center">
    {{final_message}}
  </div>
</div>
