<div class="mainform" *ngIf="final_message==''">
  <app-hourglass [message]="message"></app-hourglass>

  <div *ngIf="message.length==0 && wallet_link=='' && nft">
    <div class="mat-headline-4 color-primary" *ngIf="title.length>0">{{title}}</div>

    <img [src]="nft?.visual" *ngIf="nft?.visual"
         style="max-width: 200px;width:80%;margin-bottom: 10px;"
         class="mat-elevation-z4">
    <br>


      <div *ngIf="getPrice(nft)>0">
        <br>
        Aquérir ce NFT pour <strong>{{getPrice(nft)}} {{getUnity(nft)}}</strong><br>

        <button mat-raised-button (click)="buy(nft)">
          Acheter
        </button>

      </div>


    <div style="max-height: 300px;max-width: 350px;display: inline-block;" *ngIf="getPrice(nft)==0">
      <app-authent
              explain_message="Veuillez vous authentifier"
              [connexion]="authentification"
              (authent)="valide($event)"
              [prompt]="prompt"
              (cancel)="cancel()">
      </app-authent>
    </div>



  </div>


</div>


<div class="mainform" style="text-align: center;" *ngIf="final_message!=''">
  <div style="font-size: xx-large;width:80%;margin:10%;text-align: center">
    {{final_message}}
  </div>

  <div *ngIf="selfWalletConnexion && wallet_link.length>0">
    Consulter votre wallet pour y retrouver votre nouveau NFT<br>
    <a [href]="wallet_link" target="_blank">Ouvrir votre wallet</a>
  </div>
</div>
