<div class="mainform">
  <mat-form-field appearance="fill" style="max-width: 320px">
    <mat-label>Coller ici votre clé privée</mat-label>
    <input matInput type="text" maxlength="200" [(ngModel)]="privateKey" >
    <mat-hint>Plusieurs formats sont acceptés</mat-hint>
  </mat-form-field>

  &nbsp;

  <mat-form-field appearance="fill" style="max-width: 320px">
    <mat-label>Donner un nom</mat-label>
    <input matInput type="text" maxlength="200" [(ngModel)]="name" >
    <mat-hint>Plusieurs formats sont acceptés</mat-hint>
  </mat-form-field>

  &nbsp;

  <button
    type="button" aria-label="Ajouter" mat-raised-button
    (click)="add_key()">
    Ajouter
  </button>

  <br><br>
  <h2>Liste des clés disponibles</h2>

  <table>
    <tr *ngFor="let key of keys">
      <td>
        <strong>{{key.name}}</strong>
      </td>
      <td>
        <button type="button" mat-raised-button mat-button (click)="sel_key(key.name)">
          Sélectionner
        </button>
      </td>
      <td>
        <button type="button" mat-raised-button mat-button (click)="del_key(key.name)">
          Supprimer
        </button>
      </td>
    </tr>
  </table>


</div>
