<div class="mainform">
  <div class="mat-display-3 color-primary">Gestion des clés hébergées</div>
  <mat-form-field appearance="fill" style="max-width: 320px">
    <mat-label>Coller ici votre clé privée</mat-label>
    <input matInput type="text" maxlength="200" [(ngModel)]="privateKey" >
    <mat-hint>Plusieurs formats sont acceptés</mat-hint>
  </mat-form-field>

  <mat-form-field appearance="fill" style="max-width: 320px">
    <mat-label>Donner un nom</mat-label>
    <input matInput type="text" maxlength="200" [(ngModel)]="name" >
    <mat-hint>Plusieurs formats sont acceptés</mat-hint>
  </mat-form-field>

  <button
    type="button" aria-label="Ajouter" mat-raised-button
    [disabled]="name=='' || privateKey==''"
    (click)="add_key()">
    Ajouter
  </button>

  <button
    type="button" aria-label="Ajouter" mat-raised-button
    [disabled]="name==''"
    (click)="new_key()">
    Nouveau wallet
  </button>

  <button
    type="button" aria-label="Ajouter" mat-raised-button
    (click)="open_elrond_wallet()">
    Wallet Elrond
  </button>

  <app-upload-file extensions=".key,.txt"
                   style="margin:10px;"
                   (uploaded)="onuploaded_key_file($event)">Charger les fichiers de clé
  </app-upload-file>

  <br><br>
  <h2>
    Liste des clés disponibles sur le serveur pour le {{network.network}}
    <mat-icon (click)="refresh()">refresh</mat-icon>

  </h2>


  <table>
    <tr style="font-style: italic;font-size: large">
      <th>Alias</th>
      <th>Public Key</th>
      <th>QRCode</th>
      <th></th>
      <th></th>
      <th>Solde</th>
    </tr>
    <tr *ngFor="let key of metaboss.keys">
      <td>
        <a [href]="key.explorer" target="_blank"><strong>{{key.name}}</strong></a>
      </td>
      <td style="font-size: small;">
        <a [href]="key.explorer">{{key.pubkey.substring(0,5)+' ... '+key.pubkey.substring(key.pubkey.length-5)}}</a>
        &nbsp;<mat-icon [cdkCopyToClipboard]="key.pubkey" style="cursor: copy;font-size: small;display: inline;">content_copy</mat-icon>
      </td>
      <td>
        <img *ngIf="key.qrcode!.length>0" [src]="key.qrcode" style="width: 100px;cursor: pointer;" title="cliquer pour copier l'adresse" [cdkCopyToClipboard]="key.pubkey">
      </td>
      <td>
        <button type="button" mat-raised-button mat-button (click)="del_key(key.name)">
          Supprimer
        </button>
        <button type="button" mat-raised-button mat-button (click)="encrypt(key)">
          Encrypter
        </button>
        <button type="button" mat-raised-button mat-button (click)="open_wallet(key)">
          Wallet interne
        </button>
        <button type="button" mat-raised-button mat-button (click)="open_extra_wallet(key)">
          Wallet Nfluent
        </button>
        <button type="button" mat-raised-button mat-button (click)="open_collections(key,'nfluent')">
          Collections
        </button>
        <button type="button" mat-raised-button mat-button (click)="open_collections(key,'inspire')">
          Inspire
        </button>
        <button type="button" mat-raised-button mat-button
                [cdkCopyToClipboard]="key.pubkey"
                (click)="open_faucet(key)">
          Recharger
        </button>
      </td>
      <td></td>
      <td>
        {{key.balance}} {{key.unity}}
      </td>
    </tr>
  </table>

  <br>
  <p>La fonction <strong>Encrypter</strong> permet d'insérer les clés directement dans un fichier d'opération sans risque pour leur confidentialité</p>

</div>
