<div class="mainform" style="text-align: center;" [ngStyle]="operation?.branding?.style">

  <h2>{{operation?.title}}</h2>

  <app-hourglass [message]="message"></app-hourglass>

  <div *ngIf="message.length==0" style="width: 100%;font-size: 10px;">
    <br>Cliquez sur le NFT à envoyer<br>
    <div *ngFor="let nft of nfts" style="display: inline-block;margin:10px;cursor: pointer;line-height: 105%;" (click)="send(nft)" [title]="nft.message" [style]="nft.style">
      <div class="mat-subheading-1">{{nft.name}}</div>
      <img class="mat-elevation-z4"
           [src]="nft.visual"
           alt="image non disponible"
           style="width:30%;max-width:350px;margin:3px;">
      <div class="mat-body-1" style="margin-top: 5px">
        {{nft.marketplace!.quantity}} - <span [title]="nft.collection!.description">{{nft.collection!.name}}</span>
      </div>
    </div>

    <div *ngIf="nfts.length==0">
      Aucun NFT à envoyer
    </div>

  </div>


</div>
