<div class="mainform" [ngStyle]="operation?.branding?.style">

  <div class="titleform">{{operation?.title}}</div>

  <app-hourglass [message]="message"></app-hourglass>

  <div *ngIf="message.length==0" style="width: 100%;font-size: 15px;text-align: center;">
    <div class="mat-headline-5 color-accent">{{miner | alias}} cliquez sur le NFT à envoyer</div>
    <br>

    <mat-expansion-panel [expanded]="false" style="max-width: 1000px;display: inline-block;" *ngIf="operation?.dispenser?.mailing_list">
      <mat-expansion-panel-header>Traitement en masse</mat-expansion-panel-header>

      <button
              mat-raised-button mat-button
              title="Copier l'ensemble des NFTs"
              (click)="get_all_nfts()">
        Liste des identifiants
      </button>

      <app-upload-file (uploaded)="on_upload($event)" icon=""
                       title="Charger une liste de diffusion au format CSV/Excel"
                       extensions=".csv,.xlsx,.xls">
        Importer une liste de diffusion
      </app-upload-file>

    </mat-expansion-panel>
    <br>


    <div *ngFor="let nft of nfts"
         style="display: inline-block;margin:35px;cursor: pointer;max-width: 250px;"
         [title]="nft.message"
         [style]="nft.style">

      <div class="mat-body-2 color-primary" style="margin:5px;">{{nft.name}}</div>

      <app-reversebloc [image]="nft.visual" width="200px" height="200px" border_color="lightgray">
        <div style="padding: 5%;color: black;" class="mat-body-1">
          <br>
          <div [cdkCopyToClipboard]="nft.address!" style="cursor: copy;">Adresse: {{nft.address}}</div>
          <div *ngIf="nft.collection"><strong>Collection:</strong> <span [title]="nft.collection!.description">{{nft.collection!.name}}</span></div>
          <div *ngIf="nft.marketplace!.quantity>1"><strong>Quantité: </strong>{{nft.marketplace!.quantity}}</div>
          <br>

        </div>

        <div style="display: block;position:absolute;bottom: 10px;text-align: right;left:0px;width: 95%;">
          <button color="primary"
                  mat-raised-button mat-button
                  title="Envoyer le NFT à un destinataire"
                  (click)="send(nft)">
            Envoyer
          </button>

          <button color="primary"
                  mat-raised-button mat-button
                  title="Lien de récupération du NFT par le propriétaire"
                  (click)="copy_link(nft)">
            Copier
          </button>

        </div>

      </app-reversebloc>

      <br>

    </div>

    <div *ngIf="nfts.length==0">
      Aucun NFT à distribuer
    </div>

  </div>

  <br>

  <app-signature style="position: absolute;display: block; bottom: 5px;width: 350px;left: 5px;" faq="dispenser"></app-signature>
</div>
