//lire https://blog.thoughtram.io/angular/2017/05/23/custom-themes-with-angular-material.html
//version 0.4 - mise a jour pour Angular 15 - 25/01/2023
@use '@angular/material' as mat;
@include mat.core();

@font-face {
        font-family: Helvetica;
        src: url("assets/HelveticaInseratLT.ttf") format("ttf");
}


html {font-size: 1.2vw;}
@media(max-width: 1500px) { html {font-size: 1.4vw;} }
@media(max-width: 1000px) { html {font-size: 1.8vw;} }
@media(max-width: 800px) { html {font-size: 2.2vw;} }
@media(max-width: 400px) { html {font-size: 2.6vw;} }

//voir https://material.angular.io/guide/typography#typography-config
/* Argument de mat.define-typography-level
  $font-size,
  $line-height: $font-size,
  $font-weight: 400,
  $font-family: null,
  $letter-spacing: normal
 */


$nfluent-typography: mat.define-typography-config(
        $headline-1: mat.define-typography-level(4.2rem, 4.2rem, 600, mediasans-bold),
        $headline-2: mat.define-typography-level(3.8rem, 3.8rem, 500, mediasans-bold),        //H2
        $headline-3: mat.define-typography-level(2.5rem, 2.5rem, 500, mediasans-regular),     //H3
        $headline-4: mat.define-typography-level(2rem, 2rem, 500,mediasans-regular),
        $headline-5:  mat.define-typography-level(1.1rem, 1.1rem, 300, $font-family: mediasans-regular),
        $headline-6:  mat.define-typography-level(0.9rem, 0.9rem, 300, $font-family: GilroyRegular),
        $subtitle-1: mat.define-typography-level(18px, 18px, 500, GilroyRegular),
        $subtitle-2: mat.define-typography-level(16px, 16px, 400, GilroyRegular),
        $body-2: mat.define-typography-level(14px, 14px, 500, $font-family: GilroyRegular,$letter-spacing: -0.03em),
        $body-1: mat.define-typography-level(13px, 13px, 400, $font-family: GilroyRegular,$letter-spacing: -0.03em),
        $button: mat.define-typography-level(16px, 16px, 500, GilroyRegular, $letter-spacing: -0.03em),
        $caption: mat.define-typography-level(14px, 14px, 500, GilroyRegular, $letter-spacing: -0.03em)
);



//voir https://material.angular.io/guide/theming#palettes
$nfluent-indigo-palette :(
        50: #EFE5F8,
        100: #D4BFED,
        200: #B894E2,
        300: #9D67D7,
        400: #8743CE,
        500: #7016C5,
        600: #670FBF,
        700: #5800B7,
        800: #4B00B1,
        900: #3200A7,
        contrast: (
                50: rgba(black,0.87),
                100: rgba(black,0.87),
                200: rgba(black,0.87),
                300: rgba(black,0.87),
                400: rgba(black,0.87),
                500: white,
                600: white,
                700: white,
                800: white,
                900: white
        )
);

$nfluent-green-palette :(
        50: #EBFDE8,
        100: #CEFAC7,
        200: #AAF6A1,
        300: #81F177,
        400: #56EC52,
        500: #00E726,
        600: #00D51D,
        700: #00C00F,
        800: #00AB00,
        900: #008800,
        contrast: (
                50: rgba(black,0.87),
                100: rgba(black,0.87),
                200: rgba(black,0.87),
                300: rgba(black,0.87),
                400: rgba(black,0.87),
                500: rgba(black,0.87),
                600: rgba(black,0.87),
                700: white,
                800: white,
                900: white
        )
);



$nfluent-primary-color: mat.define-palette($nfluent-indigo-palette, 700);
$nfluent-secondary-color: mat.define-palette($nfluent-green-palette, 700);
$nfluent-accent-color:mat.define-palette($nfluent-green-palette, 500);
$nfluent-warn-color:mat.define-palette(mat.$red-palette, A200, A100, A400);


$nfluent-theme: mat.define-light-theme((
        color: (
                primary:$nfluent-primary-color,
                secondary:$nfluent-secondary-color,
                accent: $nfluent-accent-color,
                warn: $nfluent-warn-color,
        ),
        background:$nfluent-primary-color,
        typography: $nfluent-typography,
));


ul {
  list-style: none; /* Remove default bullets */
}


ul li::before {
  content: "\2022";
  font-weight: bold; /* If you want it to be bold */
  display: inline-block; /* Needed to add space between the bullet and the text */
  width: 1em; /* Also needed for space (tweak if needed) */
  margin-left: -1em;
  color: #00e726;
}



.greenline {
  z-index: -1;
  width: 100%;
  height: 22px;
  margin-top: -16px;
  display: block;
  background-color: #00e726 !important;
}

$nfluent-dark-theme: mat.define-dark-theme((
        color: (
                primary:$nfluent-primary-color,
                secondary:#ffffff,
                accent: $nfluent-accent-color,
                warn: $nfluent-warn-color
        ),
        typography: $nfluent-typography
));


// Emit styles for MatButton based on `$my-theme`. Because the configuration
// passed to `define-light-theme` omits typography, `button-theme` will not
// emit any typography styles.
@include mat.all-component-themes($nfluent-theme);
@include mat.all-component-typographies($nfluent-typography);



body,html {
        margin: 0;
        padding: 0;
        color: mat.get-color-from-palette($nfluent-primary-color, 700);
}

.color-accent {
        color: mat.get-color-from-palette($nfluent-accent-color, 500);
}

.color-warm {
        color: mat.get-color-from-palette(mat.$red-palette, 500);
}

.color-primary {
        color: mat.get-color-from-palette($nfluent-primary-color, 500);
}

.colorize-accent {
        filter: url('#teal-lightgreen');
}

.sidemenu {
  background-color: mat.get-color-from-palette($nfluent-primary-color, 400);
  color: mat.get-color-from-palette($nfluent-primary-color, A400);
}

.colorize-primary {
        filter: url('#purple-sepioa');
}

