//lire https://blog.thoughtram.io/angular/2017/05/23/custom-themes-with-angular-material.html
//version 0.4 - mise a jour pour Angular 15 - 25/01/2023
@use '@angular/material' as mat;
@include mat.core();
@import "nfluent";

//voir https://material.angular.io/guide/theming#application-background-color
body,html {
  margin: 0;
  padding: 0;
  background-color: #59591d;
  color: white;
}

$nfluent-primary-color: mat.define-palette(mat.$yellow-palette, 700);
$nfluent-secondary-color: mat.define-palette(mat.$yellow-palette, 700);
$nfluent-accent-color:mat.define-palette(mat.$yellow-palette, 500);
$nfluent-warn-color:mat.define-palette(mat.$yellow-palette, A200, A100, A400);

$nfluent-theme: mat.define-light-theme((
        color: (
                primary:$nfluent-primary-color,
                secondary:$nfluent-secondary-color,
                accent: $nfluent-accent-color,
                warn: $nfluent-warn-color,
        ),
        typography: $nfluent-typography
));


// Emit styles for MatButton based on `$my-theme`. Because the configuration
// passed to `define-light-theme` omits typography, `button-theme` will not
// emit any typography styles.
@include mat.all-component-themes($nfluent-dark-theme);


