/* You can add global styles to this file, and also import other style files */
//@import '~ngx-sharebuttons/themes/circles';

@import "nfluent";

html, body { height: 100%;  }
body { margin: 0;}

.spacer {
  flex: auto;
}

.titleform {
  @extend .mat-headline-4, .color-primary;
}

.item-menu {
  @extend .mat-caption;
}

.item-menu:hover {
  color: white;
}

.mainform {
  padding: 1%;
  min-height: 100vh;
  height: fit-content;
  text-align: center;
}

.faq-content {
  text-align: left;
}

.app-prompt {
  padding: 0;
  margin: 0;
  position: relative;
}

button {
  width: fit-content;
  margin: 2px;
  padding: 1px;
}
