/* You can add global styles to this file, and also import other style files */
//@import '~ngx-sharebuttons/themes/circles';

html, body { height: 100%;  }
body { margin: 0;}

.example-spacer {
  flex: 1 1 auto;
}

.mainform {
  padding: 1%;
  height: 100vh;
}

.faq-content {
  text-align: left;
}

.app-prompt {
  padding: 0px;
  margin: 0px;
  position: relative;
}

button {
  min-width: 120px;
  width: fit-content;
  margin: 20px;
}

mat-form-field {
  margin: 10px
}



