/* You can add global styles to this file, and also import other style files */
//@import '~ngx-sharebuttons/themes/circles';

@import "nfluent";

html, body { height: 100%;  }
body { margin: 0;}

.spacer {
  flex: auto;
}

.titleform {
  @extend .mat-headline-5, .color-primary;
  margin: 20px;
}

.table-elevation {
  @extend .mat-elevation-z4;
  text-align: center;
  width: 94%;
  padding: 10px;
  margin: 2%;
}


bloc-bouton {
  font-size: small;
}

.subtitleform {
  @extend .mat-subtitle-2;
  margin-top: -5px;
  margin-bottom: 30px;
}

.item-menu {
  @extend .mat-caption;
  height: 20px;
}

.item-menu:hover {
  color: white;
}

.mainform {
  padding: 0.2%;
  text-align: center;
}

mat-card {
  padding: 7px;
  margin: 10px;
  text-align: left;
}

mat-card-title {
  @extend .mat-body-2, .color-primary;
  padding: 10px;
}

mat-card-content {
  padding: 7px;
}

mat-expansion-panel {
  width: 96% !important;
  margin: 2% !important;
  margin-top: 15px;
  margin-bottom: 15px;
}

mat-expansion-panel-header {
  @extend .mat-body-2, .color-primary;
  font-weight: bold !important;
}

//voir https://css-tricks.com/snippets/css/a-guide-to-flexbox/
.expansion-content {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  align-items: center;
  justify-content: space-around;
}


.faq-content {
  text-align: left;
}

.app-prompt {
  padding: 0;
  margin: 0;
  position: relative;
}

.app-prompt :host {
  filter: blur(2px);
}

button {
  width: fit-content;
  margin: 2px;
  padding: 1px;
}

th {
  background-color: #d8caea;
  padding: 6px;
  font-size: medium;
  text-align: left;
}

.modal-popup-bg {
  width:100vw;
  height: 100vh;
  position: fixed;
  top:0;
  left:0;
  z-index: 100000;
  display: block;
  background-color: #efefef;
  text-align: center;
  opacity: 0.9;
  pointer-events: none;
}

.modal-popup-bg :host {
  filter: blur(2px);
}

.modal-popup {
  display:block;
  position:fixed;
  left: 50%;
  top: 50%;
  width: 60%;
  max-width: 500px;
  transform: translate(-50%, -50%);
  font-size: 0.5em;
  z-index:100001;
  text-align: center;
  padding:50px;
  background-color: white;
  border: darkgrey solid 1px;
  opacity: 1 !important;
}