/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.example-spacer {
  flex: 1 1 auto;
}

.mainform {
  padding: 1%;
}

.app-prompt {
  padding: 0px;
  margin: 0px;
  position: relative;
  color: black !important;
}


button {
  min-width: 120px;
  width: fit-content;
  margin: 15px;
  font-size: small;

}

mat-form-field {
  margin: 10px
}

