<div class="mainform" cdkTrapFocus style="text-align: center;">
  <div *ngIf="user!.length>0">
    <div *ngIf="operation.validate?.visible && result_message?.length==0">
      <h2>{{operation.title}}</h2>
      <div *ngIf="message?.length==0 && tokens.length==0">
        <div *ngIf="operation.validate?.manual_input">
          <mat-form-field appearance="fill" style="min-width: 400px;font-size: medium;">
            <mat-label>Adresse du propriétaire</mat-label>
            <input matInput type="text" [(ngModel)]="query" cdkFocusInitial (keypress)="update_model($event)">
            <mat-icon matSuffix (click)="query=''">cancel</mat-icon>
          </mat-form-field>
          <br>
          <button type="button" mat-raised-button mat-button (click)="update_token(query)">
            Rechercher
          </button>
        </div>

        <br><br>

        <app-scanner *ngIf="operation.validate.camera" (flash)="onflash($event)"></app-scanner>
      </div>

      <br>
      <app-hourglass [message]="message"></app-hourglass>


      <div *ngIf="tokens.length>0">
        <div style="width:100%;text-align: center;font-size: small;">

          <table style="padding: 10px;width:90%;margin:5%;" class="mat-elevation-z4" *ngIf="screen=='landscape'">
            <tr>
              <th>Nom du NFT</th>
              <th *ngFor="let idx of attributes_to_show[0]">
                {{tokens[0].metadataOffchain.attributes[idx]?.trait_type}}
              </th>
              <th>Commandes disponibles</th>
            </tr>
            <tr *ngFor="let t of tokens">
              <td *ngIf="t.metadataOffchain?.name">{{t?.metadataOffchain?.name}}</td>
              <td *ngFor="let idx of attributes_to_show[0]">
                <span style="font-size: x-large">{{t.metadataOffchain.attributes[idx]?.value}}</span>
              </td>
              <td>
                <button *ngFor="let action of operation.validate.actions.buttons"
                        style="margin: 5px"
                        type="button" mat-raised-button mat-button
                        (click)="validate(t,action)">
                  {{action.label}}
                </button>
              </td>
            </tr>
          </table>


          <table style="padding: 5px;width:98%;margin:1%;" class="mat-elevation-z4" *ngIf="screen!='landscape'">
            <tr>
              <th>NFT</th>
              <th *ngFor="let t of tokens">
                {{t?.metadataOffchain?.name}}
              </th>

            </tr>
            <tr *ngFor="let idx of attributes_to_show[0]">
              <th>{{tokens[0].metadataOffchain.attributes[idx]?.trait_type}}</th>
              <td *ngFor="let t of tokens">
                <span style="font-size: large">{{t.metadataOffchain.attributes[idx]?.value}}</span>
              </td>
            </tr>

            <tr>
              <th>Commandes disponibles</th>
              <td *ngFor="let t of tokens">
                <button *ngFor="let action of operation.validate.actions.buttons"
                        style="margin: 5px"
                        type="button" mat-raised-button mat-button
                        (click)="validate(t,action)">
                  {{action.label}}
                </button>
              </td>
            </tr>
          </table>



        </div>
        <br>
        <button type="button" mat-raised-button
                mat-button (click)="cancel_validation()">
          Annuler
        </button>
      </div>
    </div>
    <div *ngIf="result_message && result_message.length>0">
      <br>
      <div style="font-size: xx-large;width:100%;text-align: center;">
        {{result_message}}
      </div>
      <br>
      <mat-form-field appearance="fill" style="min-width: 300px;font-size: medium;width:70%;" *ngIf="status=='0'">
        <mat-label>Saisir l'email du client pour lui envoyer une confirmation</mat-label>
        <input matInput type="text" [(ngModel)]="email">
        <mat-icon matSuffix (click)="email=''">cancel</mat-icon>
      </mat-form-field>

      <br>
      <button type="button" mat-raised-button
              *ngIf="status=='0'"
              mat-button (click)="confirm_transac()">
        Envoyer
      </button>

      <button type="button" mat-raised-button
              mat-button (click)="confirm_transac()">
        Nouveau client
      </button>
    </div>
  </div>


  <div *ngIf="user?.length==0">
    <mat-form-field appearance="fill" style="min-width: 400px;font-size: medium;">
      <mat-label>Veuillez saisir votre code d'accès (reçu par mail)</mat-label>
      <input matInput type="text" [(ngModel)]="access_code" (ngModelChange)="update_access_code()">
      <mat-icon matSuffix (click)="access_code=''">cancel</mat-icon>
    </mat-form-field>

  </div>

</div>
