<div class="mainform">

  <div class="mat-display-3 color-primary">Minage des NFTs</div>

  <a href="./assets/Assets.xlsm">Fichier De traitement en masse</a><br>

  <div style="width: 300px;display: inline-block;">
    <app-upload-file (uploaded)="onFileSelected($event)" extensions=".webp,.png,.gif,.jpeg,.jpg">Charger des visuels</app-upload-file>
  </div>

  <mat-form-field style="fontsize:small">
    <mat-label>Plateforme de stockage</mat-label>
    <mat-select [(value)]="sel_platform">
      <mat-option *ngFor="let platform of platforms" [value]="platform.value">
        {{platform.label}}
      </mat-option>
    </mat-select>
  </mat-form-field>


  <div style="display: inline-block">

    <mat-form-field appearance="fill" style="max-width: 80px">
      <mat-label>Prix (€)</mat-label>
      <input matInput type="number" min="0" [(ngModel)]="price" >
    </mat-form-field>

    <mat-form-field appearance="fill" style="max-width: 80px">
      <mat-label>Quantité</mat-label>
      <input matInput type="number" min="1" [(ngModel)]="quantity" >
    </mat-form-field>

    <mat-form-field appearance="fill" style="max-width: 80px">
      <mat-label>Royalties</mat-label>
      <input matInput type="number" min="0" max="99" [(ngModel)]="seller_fee_basis_points" >
    </mat-form-field>

  </div>

  <div id="command_panel" style="display: inline-block;margin:10px;">
    <mat-checkbox [(ngModel)]="sign">Signer</mat-checkbox>

    <br>
    <br>


    <button type="button"
            mat-raised-button mat-button
            (click)="upload_all_tokens()">
      Mise en ligne
    </button>

    <button type="button"
            mat-raised-button mat-button
            (click)="mint()">
      Tout miner
    </button>

    <button type="button"
            *ngIf="sel_ope && sel_ope.store && sel_ope.store.prestashop"
            mat-raised-button mat-button
            (click)="prestashop()">
      Export Prestashop
    </button>


    <button type="button"
            mat-raised-button mat-button
            (click)="add_creator()">
      <mat-icon>add_circle</mat-icon>&nbsp;Créateur
    </button>

    <button type="button"
            mat-raised-button mat-button
            (click)="set_collection()">
      Collection
    </button>


    <button type="button"
            mat-raised-button mat-button
            (click)="download_all()">
      Enregistrer
    </button>

    <button type="button"
            mat-raised-button mat-button
            (click)="clear()">
      Effacer
    </button>

  </div>


  <br><br>

  <table style="padding: 5px;width:100%;text-align: center;">
    <tr>
      <th>Visuel</th>
      <th>Titre / Description</th>
      <th>Collection</th>
      <th>Symbole</th>
      <th>Fichiers</th>
      <th>Attributs</th>
      <th>Créateurs</th>
      <th>Commandes</th>
      <th>Validité</th>
    </tr>
    <tr *ngFor="let token of tokens" style="margin: 5px;">
      <td style="width: fit-content">
        <div style="width: 100px;height: 100px;display: inline-block;" class="mat-elevation-z4">
        <img [src]="token.visual"
             [title]="token.visual"
             alt="En cours de chargement ..." style="width: 100%;"
              >
        </div>
      </td>
      <td style="cursor: pointer">
          <input matInput class="mat-elevation-z2" type="text" [(ngModel)]="token.name"><br>
          <input matInput class="mat-elevation-z2" type="text" [(ngModel)]="token.description">
      </td>
      <td (click)="set_collection(token)">{{token.collection?.name}} / {{token.collection?.family}}</td>
      <td style="max-width: 50px;">
        <input matInput class="mat-elevation-z2" type="text" [(ngModel)]="token.symbol">
      </td>

      <td>
        <app-link *ngFor="let file of token.files" [content]="file.uri">
          <mat-icon>link</mat-icon>
        </app-link>
      </td>

      <td style="text-align: left;">
        <ul>
          <li *ngFor="let a of token.attributes">
            <strong>{{a['trait_type']}}:</strong> {{a.value}}
          </li>
        </ul>
      </td>


      <td>
        <app-link *ngFor="let creator of token.creators"
                  [content]="'https://solscan.io/account/'+creator.address+'?cluster=devnet'">
          {{(creator.address | alias:network.network).substring(0,10)+'..'}}&nbsp;({{creator?.share}}%)
          <br>
        </app-link>
      </td>

      <td>
        <mat-icon style="cursor: pointer" (click)="upload_token(token)">upload</mat-icon>
        <mat-icon style="cursor: pointer" (click)="miner(token)">build</mat-icon>
        <mat-icon style="cursor: pointer" [title]="to_string(token)">visibility</mat-icon>
        <mat-icon style="cursor: pointer" (click)="remove(token)">delete</mat-icon>
        <mat-icon style="cursor: pointer" >content_copy</mat-icon>
        <mat-icon style="cursor: pointer" (click)="download(token)">download</mat-icon>
        <app-upload-file (uploaded)="onUploadXMP($event,token)" extensions=".xmp">Metas</app-upload-file>
      </td>

      <td>
        <mat-icon *ngIf="isValide(token)==''">checkmark</mat-icon>
        <mat-icon [title]="isValide(token)" *ngIf="isValide(token)!=''">cancel</mat-icon>
      </td>

    </tr>
  </table>



</div>
